*{
	padding: 0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

.clear{
	clear: both;
}

html,body{
	height: 100%;
	
}
header {
	padding: 15px  2%;
}

.Container{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
/**Working with website's header**/

header .logo img{
	float: left;
	width: 236px;
}
header nav.menu-mobile  {
	background-image: url('../images/menu-mobile.png');
	background-size: 100% 100%;
	width: 28px;
	height: 28px;
	margin-top: 8px;
	cursor: pointer;
	display: none;
	float: right;
}
header nav.menu-mobile ul {
	z-index: 999;
	background-color: white;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 60px;
}

header nav.menu-mobile ul li{
	padding: 10px 0;
}


header nav.menu-desktop {
	float: right; 
}


header nav.menu-desktop ul{
	list-style-type:  none;
}

header nav.menu-desktop ul li{
	float: left;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0 20px; 
}
header ul li a{
	text-decoration: none;

	color: #b4b4b4; 
}
/****/


/**Trabalhando com as imagens**/

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}
.img-mosaico-single1 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo1.jpg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}
.img-mosaico-single2 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo2.png);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single3 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo3.jpg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single4 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo4.jpeg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single5 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo5.jpeg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single6 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo6.png);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single7 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo7.jpg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single8 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo8.jpg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single9 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo9.jpg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single10 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo10.jpg);
	background-position: center;
	background-size: 300px;
	background-repeat: no-repeat;
	
}

.img-mosaico-single11{
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo11.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.img-mosaico-single12 {
	width: 100%;
	height: 200px;
	background-color: red;
	border: 5px solid white;
	background-image: url(../images/photo12.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: inherit;
	
}

/****/

/**Working with services**/

section.servicos > .Container{
	max-width: 800px;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	top: -50px;
}

section.servicos > .Container .box-servico{
	background-image: url('../images/icone_dente.png');
	background-size: 18px 18px;
	background-position: center calc(100% - 5px);
	background-repeat: no-repeat;


}
section.servicos > .Container .box-servico h2{
	color: white; 
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .Container .box-servico p{
	color: white; 
	font-weight: normal;
	font-size: 12px;
	margin-top: 8px;

}

section.servicos > .Container .box-servico:nth-of-type(1){
	width: 30%;
	padding: 50px 2%;
	background-color: #576975;
}

section.servicos > .Container .box-servico:nth-of-type(2){
	width: 40%;
	padding: 80px 2%;
	background-color:  #688293;
	background-image: none;
}

section.servicos > .Container .box-servico:nth-of-type(3){
	width: 30%;
	padding: 50px 2%;
	background-color: #576975;

}

/*****/

section.perfil-container{
	padding: 40px 0;
}

section.perfil-container .Container{
	max-width: 800px;
}

section.perfil-container .perfil-wrapper{
	padding-top: 60%;
	position: relative; 
}

section.perfil-container .perfil-wrapper2{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	
	
}

section.perfil-container .img-perfil{
	width: 40%;
	height: 100%;
	background-image:
	linear-gradient(to top, rgba(250, 250, 250, 0.23), rgba(250, 250, 250, 0.0)), url('../images/perfil.jpg');
	background-size: 100% 100%;
	
}

section.perfil-container .texto-perfil{
	width: 60%;
	padding: 0 30px;	
}

section.perfil-container .texto-perfil h2{
	color: #698293;
	font-size: 18px;
}

section.perfil-container .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	margin-top: 8px;
}

/*****/

/* Trabalhando com os videos**/

section.videos {
	align-content: all;
	
}


section.videos .box-video{
	width: 33.3%;
	height: 250px;
	float: left;
	align-items: center;
	align-content: center;
	border: 5px solid white;
	position: relative;
	
	
}
section.videos iframe{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

section.tratamentos .tratamento-container{
	float: left;
	width: 33.3%;
	
}

.tratamento-single{
	padding: 20px; 
}
.tratamento-single h2{
	font-size: 18px;
	color: #737373
}

.tratamento-single p{
	padding: 10px 0;
	font-size: 13px;
	color: #b4b4b4;
}

section.tratamentos > h2{
	margin-top: 50px;
	font-size: 18px; 
	color:#698293;
	text-align:center;
}

section.tratamentos > .Container{
	padding: 50px 0;
}

section.depoimentos  h2{
	font-size: 18px; 
	color:#698293;
	text-align:center;
	padding: 20px 0;
}

section.depoimentos .Container{
	padding: 70px 0;
	max-width: 400px;
}
section.depoimentos .nome-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}
section.depoimentos .depoimento-single{
	text-align: center;
	width: 100%;
	padding: 0 2%;
}

.depoimento-single quote{
	font-size: 15px;
	color: #b4b4b4;
}
.depoimento-single .nome-depoimento{
	padding: 19px 0;
}

.nome-depoimento span{
	font-size: 13px;
	color: #b4b4b4;
	position: relative;
	top: 8px;
	display: inline-block;
	vertical-align: top;
}

.instagram-chamada {
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #98a5ae;
}

.instagram-chamada p{
	color: white;
	line-height: 23px;
	padding: 10px 0;
	font-size: 15px;
}

.mosaico-social{
	float: left;
	width: 100%;

}

.img-mosaico-single-social1{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social2{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social3{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social4{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo4.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social5{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo5.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social6{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo6.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social7{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo7.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social8{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo8.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.img-mosaico-single-social9{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
	background-image: url('../images/photo9.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.facebook-chamada {
	float: left;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #576975;
}

.facebook-chamada p{
	color: white;
	line-height: 23px;
	padding: 10px 0;
	font-size: 15px;
}


/*TRABALHANDO CONTATO**/


section.contato{
	padding: 60px 2%;
}
section.contato h2{
	text-align: center;
	font-size: 18px;
	color: #698293;
}
section.contato form{
	width: 100%;
	max-width: 500px;
	margin: 30px auto;	
}

.form-wrapper{
	float: left;
	padding: 0 10px;
	margin-top: 10px;
}

.w100{
	width: 100%;
}
.w50{
	width: 50%;
}

.form-wrapper span{
	font-size: 15px;
	color: #b4b4b4;
	padding: 10px

}
.form-wrapper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border:1px solid #dadada;
	margin-top: 8px;
}

.form-wrapper input[type=submit]{
	width: 100px;
	height: 35px;
	border:0;
	background-color: #688293;
	color: white;
	cursor: pointer;
	display: inline-block;
}

.form-wrapper textarea{
	width:100%;
	height: 121px;
	padding: 7px;
	resize: none;
	border:1px solid #dadada;
}
.form-wrapper textarea:focus{
	outline: none !important;
    border:2px solid #719ECE;
    box-shadow: 0 0 5px #719ECE;
}




.form-wrapper input[type=text]:focus{
	outline: none !important;
    border:2px solid #719ECE;
    box-shadow: 0 0 5px #719ECE;
}

footer{
	padding: 40px 2%;
	background-color: #688293;
	
}

footer .Container{
	max-width: 1100px;
}
footer .footer-block{
	float: left;
	width: 33.3%;

}

.footer-block h2{
	color: white;
	font-weight: normal;
	font-size: 18px; 
}

.footer-block p{
	margin-top:8px;
	color: white;
	font-size: 14px; 
}







/**Iniciando o responsivo**/

@media screen and (max-width: 1025px){


	.img-mosaico-single-social1{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}


	.img-mosaico-single-social2{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social3{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social4{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social5{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social6{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social7{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social8{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}
	.img-mosaico-single-social9{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}

	.img-mosaico-single-social9{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);

	}

	.mosaico-social > div:nth-of-type(1n+7){
		display: none;
	}
}

@media screen and (max-width: 768px){

	footer{
		text-align: center;
	}
	footer .footer-block{
		float: none;
		width: 100%;
		margin: 30px 0;
	}

	
.img-mosaico-single-social1{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}


	.img-mosaico-single-social2{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social3{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social4{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social5{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social6{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social7{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social8{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}
	.img-mosaico-single-social9{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}

	.img-mosaico-single-social9{
		width: calc(100% / 3);
		padding-top: calc(100% / 3);

	}

	.mosaico-social > div:nth-of-type(1n+4){
		display: none;
	}


	header nav.menu-mobile{
		display: block;
		background-image: url('../images/menu-mobile.png');
		background-size: 100% 100%
		width: 28px;
		height: 28px;
		cursor: pointer;

	}

	header nav.menu-mobile ul{
		list-style-type: none;
	}

	header nav.menu-mobile ul li a{
		text-decoration: none;
		font-size: 13px;
		text-transform: uppercase;
		
	}
	header nav.menu-mobile ul li:hover{
		background-color:#ebebeb;
		
	}
	nav.menu-desktop{
		display: none;
	}



	section.servicos > .Container{
		flex-direction: column;
	}

	section.servicos > .Container .box-servico:nth-of-type(1){
		width: 90%;
		max-width: 350px;
		padding: 30px 2%;
		
	}

	section.servicos > .Container .box-servico:nth-of-type(2){
		width: 95%;
		padding: 40px 2%;
		max-width: 380px;
		
	}

	section.servicos > .Container .box-servico:nth-of-type(3){
		width: 90%;
		padding: 30px 2%;
		max-width: 350px;
		
	}
	section.perfil-container .perfil-wrapper{
		padding-top: 0px;
	}

	section.perfil-container .perfil-wrapper2{
	/*position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	*/
	height: auto;
	position: static;
	text-align: center;
	display: inline-block;
	
	
}


section.perfil-container .img-perfil{
	width: 50%;
	display: inline-block;
	padding-top: 70%;
	height: auto;
	
}

section.perfil-container .texto-perfil{
	display: inline-block;
	width: 100%;
	text-align: justify;
	padding: 0 30px;	
}


section.videos .box-video{
	width: 100%;
	height: 250px;
	float: none;
	display: inline-block;
	align-items: center;
	align-content: center;
	border: 5px solid white;	
}

section.videos{
	text-align: center;
	align-content: center;
	align-items: center;
}
section.videos iframe{
	position: relative;
	left: 0;
	top: 0;
	align-content: center;
	width: 100%;
	height: 100%;
}

}

@media screen and (max-width: 762px){

	section.videos{
		height: auto;

	}


	section.videos .box-video{
		width: 100%;
		height: 300px;
		
	}
	
}


@media screen and (max-width: 1155px){

	section.videos .box-video{
		height: 180px;
		align-items: center;
		align-content: center;
		border: 5px solid white;	
	}

	section.videos{
		text-align: center;
		align-content: center;
		align-items: center;
	}
	section.videos iframe{
		align-content: center;
		width: 100%;
		height: 100%;
	}

}


@media screen and (max-width: 1052px){

	section.videos .box-video{
		height: auto;
		align-items: center;
		align-content: center;
		border: 5px solid white;	
	}

	section.videos{
		text-align: center;
		align-content: center;
		align-items: center;
	}
	section.videos iframe{
		align-content: center;
		width: 100%;
		height: 100%;
	}

}


@media screen and (max-width: 580px){
	section.perfil-container .img-perfil{
		width: 80%;
		padding-top: 110%;
		

	}

	section.videos .box-video{
		width: 100%;
		height: 250px;
		float: none;
		display: inline-block;
		align-items: center;
		align-content: center;
		border: 5px solid white;	
	}

	.w50{
		width: 100%;
	}
	

}

@media screen and (max-width: 480px;){
	header .logo img{
		width: 200px;
	}

}


